* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(267deg 100% 7%) 0%,
    hsl(331deg 61% 15%) 15%,
    hsl(348deg 66% 25%) 21%,
    hsl(355deg 69% 35%) 27%,
    hsl(359deg 72% 45%) 31%,
    hsl(7deg 71% 57%) 36%,
    hsl(10deg 76% 70%) 40%,
    hsl(12deg 74% 81%) 44%,
    hsl(27deg 34% 91%) 48%,
    hsl(211deg 63% 91%) 52%,
    hsl(234deg 54% 81%) 56%,
    hsl(240deg 51% 70%) 60%,
    hsl(238deg 51% 58%) 64%,
    hsl(232deg 60% 44%) 68%,
    hsl(234deg 55% 34%) 73%,
    hsl(236deg 50% 24%) 79%,
    hsl(238deg 42% 15%) 85%,
    hsl(236deg 70% 4%) 100%
  );
}

.clock {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  /* border: 8px solid #fff; */
  background-image: url(clock.png);
  background-position: center;
  background-size: contain;
  box-shadow: 6px 6px 8px rgba(119, 119, 119, 0.3);
}

.hands {
  position: absolute;
  top: 50%;
  background-color: black;
  /* height: 1px; */
  transform-origin: 100%;
  /* transform: rotate(90deg); */
  transition: all 0.05s;
  transform: translateY(-50%);
  transition-timing-function: linear(0 0%, 1.28 23.12%, 1 100%);
  border-radius: 10px 0 0 10px;
}

.second-hand {
  height: 2px;
  width: 48%;
  left: 2%;
}
.minute-hand {
  width: 45%;
  left: 5%;
  height: 5px;
  /* transform: rotate(15deg); */
}

.hour-hand {
  width: 35%;
  left: 15%;
  height: 7px;
}

.center-dot {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
